.banner-container {
	background: url('/Content/img/main-image.png') no-repeat scroll 0 -17px;
	background-size: cover;
}

.banner-text-container {
	text-align: center;
}

.banner-header-container {
	width: 25.5%;
	margin: 0 auto;
	padding-top: 114px;
	padding-bottom: 10px;
}

.banner-header {
	font-size: 40px;
	font-family: "PTSans", sans-serif;
	color: rgb(255, 255, 255);
	text-decoration: underline;
	line-height: 1.3;
	letter-spacing: 3px;
}

.banner-description-container {
	width: 20%;
	margin: 0 auto;
	padding-top: 14px;
	padding-bottom: 10px;
}

.banner-description {
	font-size: 16px;
	font-family: "Lato", sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.625;
	letter-spacing: 3px;
}

.banner-button-container {
	padding-top: 20px;
	padding-bottom: 125px;
}

.banner-button {
	border-radius: 50%;
	border: none;
	background-color: rgb(228, 85, 29);
	padding: 20px 27px;
}

.banner-button-image {
	height: 30px;
}