.features-container {
	background-color: rgb(246, 246, 246);
}

.feature-container {
	border-left: rgb(213, 213, 213) solid 1px;
	text-align: center;
	padding: 44px 0 45px;
}

.feature-container-no-border{
	border: none;
}

.feature-image-container {
	padding: 20px;
}

.feature-image {
	height: 65px;
}

.feature-header-container {
	padding: 10px;
}

.feature-header {
	font-size: 22px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(99, 127, 131);
	font-weight: bold;
	line-height: 1.2;
}

.feature-description-container {
	padding: 5px 50px 23px 28px;
	word-wrap: break-word;
}

.feature-description {
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(149, 148, 148);
	line-height: 1.429;
	word-wrap: break-word;
 }

.feature-button-container {
	margin-bottom: 30px;
	padding-right: 15px;
}

.feature-button {
	border-radius: 5px;
	background-color: rgb(99, 127, 131);
	border: none;
	padding: 5px 15px;
}

.feature-button:hover {
	cursor: pointer;
}

.feature-button:active {
	margin-left: 2px;
}

.feature-button-text {
	font-size: 16px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
}