.footer {
	background-color: rgb(99, 127, 131);
	padding-bottom: 50px;
	padding-top: 7px;
}

.subscription-container {    
	padding-top: 38px;
    padding-left: 21px;
}

.subscription-title-container {
	display: table;
	padding-bottom: 10px;
}

.subscription-title-image {
	display: table-cell;
	vertical-align: middle;
}

.subscription-title {
	color: rgb(255, 255, 255);
	font-family: "Source Sans Pro", sans-serif;
	text-align: left;	
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

.subscription-title-header {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}

.subscription-title-description {
  font-size: 14px;
  line-height: 1.2;
}

.subscription-form-container {
	display: table;
	padding-right: 10px;
	padding-top: 15px;
}

.subscription-input-container {
	display: table-cell;
	width: 100%;
	padding-right: 10px;
	vertical-align: top;
}

.subscription-button-container {
	display: table-cell;
	vertical-align: top;
}

.subscription-input {
	border-radius: 5px;
	background-color: rgb(89, 114, 117);
	color: rgb(255, 255, 255);
	border: none;
	width: inherit;
	padding: 13px;
}

.subscription-button {
	border-radius: 5px;
	border: none;
	background-color: rgb(89, 114, 117);
	padding: 10px 20px 10px 10px;
}

.subscription-button:hover {
	cursor: pointer;
}

.subscription-button:active .subscription-button-text {
	margin-left: 5px;
	margin-right: -5px;
}

.subscription-button-text {
	font-size: 18px;
	font-weight: bold;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(255, 255, 255);
	white-space: nowrap;
	margin: 0;
}

.twitter-container {
	margin-top: 42px;
	background-color: rgb(89, 114, 117);
	padding: 15px 10px 20px 22px;
	display: table;
	margin-left: 20px;
}

.twitter-description-container {
	display: table-cell;
	vertical-align: middle;
	padding-left: 28px;
}

.twitter-description {
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(181, 199, 201);
	line-height: 1.571;
}

.twitter-link-image {
	padding-left: 5px;
}

.twitter-link-container {
	display: table-cell;
	vertical-align: middle;
}

.mail {
	display: inline;
	text-decoration: underline;
	color: rgb(255, 255, 255);
}

.copyright-container {
	background-color: rgb(99, 127, 131);
	width: 100%;
}

.copyright-item { 
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 40px 0;
}