.clear-fix {
	clear: both;
}

.header {
	font-family: "Source Sans Pro Bold", sans-serif;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
}

.header .header-container {
	display: table;
	padding: 13px 0 13px;
}

.header-logo-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.header .header-navigation-container {
	float:right;
}

.header .header-logo {
	font-size: 32px;
	line-height: 1em;
	text-decoration: none;
	color: rgb(99, 127, 131);
}

.header-navigation .header-navigation-item {
	float:left;
	color: rgb(99, 127, 131);
}

.header-navigation .header-navigation-link {
	display: inline-block;
	padding: 25px 25px 25px 25px;
	font-size: 13px;
	line-height: 1em;
	text-transform: uppercase;	
	text-decoration: none;
	font-family: "Source Sans Pro Bold", sans-serif;
	color: inherit;
}

.header-navigation .active {
	color: rgb(228, 85, 29);
	background-image: url('/Content/img/selected-menu-item.png');
	background-repeat: no-repeat;
    background-position: 50% 20%;
	
}
