.portfolio-container {
	padding-bottom: 37px;
}

.portfolio-image-container {
	width: 100%;
	margin-top: 10px;
}

.portfolio-image {
	width: inherit;
}

.portfolio-button-container {
	text-align: center;
	margin-top: 35px;
}

.portfolio-button {
	border-radius: 5px;
	background-color: rgb(228, 85, 29);
	border: none;
	padding: 9px 20px;
}

.portfolio-button:hover {
	cursor: pointer;
}

.portfolio-button:active {
	margin-left: 2px;
}

.portfolio-button-text {
	font-size: 18px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
}

.separator {
	border-bottom: rgb(213, 213, 213) solid 1px;
	padding-top: 58px;
}