.profiles-container {
	padding: 10px 0px 37px;
}

.people-container {
	display: table;
	padding:  10px 30px 20px 0;
	margin-left: 21px;
}

.people-photo-container {
	display: table-cell;
	vertical-align: middle;
}

.people-photo {
	width: 110px;
	height: 100px; 
}

.people-photo-1:before,
.people-photo-2:before,
.people-photo-3:before,
.people-photo-4:before {
	border-radius: 5px;
	content: '';
	position: absolute;
	width: 100px;
	height: inherit;
}

.people-photo-1:before {
	background: rgb(214, 224, 225) 
	url('/Content/img/photo-1.png') no-repeat scroll -20px 0;
}

.people-photo-2:before {
	background: rgb(214, 224, 225) 
	url('/Content/img/photo-2.png') no-repeat scroll -20px 0;
}

.people-photo-3:before {
	background: rgb(214, 224, 225) 
	url('/Content/img/photo-3.png') no-repeat scroll 10px 0;
}

.people-photo-4:before {
	background: rgb(214, 224, 225) 
	url('/Content/img/photo-4.png') no-repeat scroll -20px 0;
}

.people-description-container {
	padding-left: 20px;
	display: table-cell;
	vertical-align: top;
}

.people-description-header {
	font-size: 22px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(99, 127, 131);
	font-weight: bold;
}

.people-description-header-active {
	font-size: 22px;
	font-family: "Myriad Pro", sans-serif;
	color: rgb(228, 85, 29);
	font-weight: normal;
}

.people-description-text-container {
	margin-top: 10px;
}

.people-description-text {
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(149, 148, 148);
	text-align: left;
	line-height: 1.7;
	word-wrap: break-word;
}

.people-description-text-orange {
	text-decoration: none;
	color: rgb(232, 108, 59);
	display: inline;
}
