[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {    
	vertical-align: middle;
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-linkedin:before {
	content: "\e602";
}

.social-media-container {
	background-color: rgb(255, 255, 255);
	padding: 45px 0 45px;
	display: table;
	margin-left: 23px;
}

.social-media-link-container {	
	display: table-cell;
	vertical-align: middle;
}

.social-media-link {
	border-radius: 50%;
	background-color: rgb(228, 85, 29);
	padding: 18px;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
}

.social-media-link-text {
	color: rgb(255, 255, 255);
	font-weight: bolder;
}

.social-media-description-container {
	font-family: "Source Sans Pro", sans-serif;
	display: table-cell;
	vertical-align: middle;
	padding-left: 20px;
}

.social-media-item-header {
	font-size: 18px;
	color: rgb(99, 127, 131);
	font-weight: bold;
	line-height: 1.2;
}

.social-media-item-description {
	font-size: 14px;
	font-family: "Source Sans Pro", sans-serif;
	color: rgb(181, 199, 201);
	line-height: 1.2;
}