.title-container {
	padding: 35px;
}

.title-text-container {
	line-height: 1.2;
	text-align: center;
}

.title {
	font-family: "Source Sans Pro Bold", sans-serif;
	font-size: 34px;
}

.title-white {
	color: rgb(255, 255, 255);
}

.title-grey {
	color: rgb(99, 127, 131);
}

.description {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 22px;
	font-weight: normal;
}

.description-white {
	color: rgb(213, 221, 222);
}

.description-grey {
	color: rgb(120, 144, 148);
}

.title-buttons-container {
	text-align: center;
	margin: 20px auto 0px;
}

.title-buttons-inner-container {
	display: inline-block;
	vertical-align: middle;
	width: 9%;
}

.title-button {
	border: none;
	border-radius: 50%;
	background-color: rgb(228, 85, 29);
	padding: 3px 1px 3px 1px;
}

.left-line {
	border-bottom: rgb(213, 213, 213) solid 1px;
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}

.right-line {
	border-bottom: rgb(213, 213, 213) solid 1px;
	width: 45%;
	display: inline-block;
	vertical-align: middle;
}
